/data_visualization/.ipynb_checkpoints
/data_visualization/dataset
/data_visualization/raw_data
/dataset
/Chatbox-Service/.venv
/Chatbox-Service/mysite/.env
/Chatbox-Service/mysite/db.sqlite3
/Chatbox-Service/mysite/chatbox/retrieval_based
/.venv
/tempCodeRunnerFile.py
/Chatbox-Service/mysite/chatbox/__pycache__
/Chatbox-Service/mysite/chatbox/migrations/__pycache__
/Chatbox-Service/mysite/mysite/__pycache__
/setup
/*.env
